.contato {
max-width: 1200px;
background: #f1efef;
margin: 0 auto;
padding: 40px 20px;
border: 1px solid #000;
}

.contato-h3 {
    padding: 20px;
    margin-bottom: 30px;
    text-align: center;
    grid-column: 1 / -1;
    font-size: 6rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.lista-contato {
    grid-column: 1 / -1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}

.lista-contato li a {
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    display: flex;
    gap: 15px;
    align-items: center;
    text-decoration: none;
    color: #000;
    border: 1px solid #000;
    text-decoration: underline;
}

.inicio-caixa {
    display: flex;
    justify-content: center;
}


.inicio-caixa a {
    background: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

.inicio-caixa a:hover {
    background: #a3a3a3;
}

@media (max-width: 1000px) {
 
    .contato {
        padding: 20px 10px;
    }
 
    .contato-h3 {
    font-size: 4rem;
    padding: 5px;
    }

    .lista-contato {
        gap: 50px;
    }

    .lista-contato li a {
        padding: 5px 10px;
        gap: 5px;
    }
}

@media (max-width: 800px) {
    .contato {
     padding: 10px 5px;
    }

    .contato-h3 {
        font-size: 3rem;
        padding: 2px;
    }

    .lista-contato {
        gap: 20px;
    }

    .lista-contato li a {
        padding: 3px 5px;
    }

    
}

