.experiencia{
    border: 1px solid #000;
    max-width: 1200px;
    padding: 120px 20px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    background: #f1efef;
}

.lista-caixa {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.lista-experiencia {
    padding: 20px 15px;
    background: #fff;
    border-radius: 4px;
    border: 2px solid #000;
}

.lista-experiencia li {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
}

.lista-inicio {
    display: flex;
    justify-content: center;
}


.lista-inicio a {
    display: block;
    background: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

.lista-inicio a:hover {
    background: #a3a3a3;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1.4rem;
}

.lista-experiencia li span {
    font-size: 1.2rem;
}

div {
    border: 1px solid #0000;
}

@media (max-width: 1000px) {
    .experiencia {
        padding: 40px 10px;
        gap: 10px;
    }

    .lista-experiencia {
        gap: 10px;
        flex: 1;
    }
    h3 {
        font-size: 1.3rem;
    }

    p {
        font-size: 1.2rem;
    }

    .lista-experiencia li span {
        font-size: 0+8rem;
    }
}

@media (max-width: 1000px) {

}